*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
header{
    height: 100vh;
    background-color: black;
    background-image: url(peter\ mck\ stocks/background2.jpg);
    background-size:100%;
    position: relative;
    overflow: hidden;
    /*filter: blur(5px);*/
}
.upper-bar{
    width: 100%;
    height: 100px;
    background-color: #000;
    position: absolute;
    top: 0;
    animation: upbar 1.2s ease-out;
}


.lower-bar{
    width: 100%;
    height: 100px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    animation: lowerbar 1.2s ease-out;
}

.peter{
    height: 650px;
    position: absolute;
    transform: rotateY(180deg);
    right: 230px;
    bottom: -10px;
    animation: pete 1s ease-in 0.4s;
    animation-fill-mode: backwards;
    
}
.Peter-name{
    position: absolute;
    top:169px;
    left:225px;
    font-size: 57px;
    font-family:"Tahu!";
    color: aliceblue;
    font-weight: 100;
}
.pet{
    font-weight: 100;
}

.navigation-menu{
    font-family: "Tragic Marker";
    display: inline-block;
    color: white;
    font-size: 30px;
    position: relative;
    right:-121px;
    top:-11px;
}
.home{
    color:rgb(177, 177, 177) ;
    position: absolute;
    left:800px;
    top:32px;
    transition: all 0.2s ease-in;
}
.products{
    
    position: absolute;
    left:936px;
    top:32px;
    transition: all 0.2s ease-in;

}
.contact{
    
    /*display: inline;*/
    position: absolute;
    left:1102px;
    top:32px;
    transition: all 0.2s ease-in;
    
}
.about{
    
    /*display: inline;*/
    position: absolute;
    left:1263px;
    top:32px;
    transition: all 0.2s ease-in;
    
}
.home:hover,.about:hover,.contact:hover,.products:hover{
    color:rgb(177, 177, 177) ;
    transform: scale(1.1);
   
}
/*h3{
    display: inline-block;
}*/
a{
    text-decoration: none;
    color: white;
}

@keyframes upbar{
    0%{
        transform: translateY(-60px);
        opacity: 0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}
@keyframes lowerbar{
    0%{
        transform: translateY(+60px);
        opacity: 0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}

@keyframes pete{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.social-media{
    position: absolute;
    right: 30px;
    top :200px;
    animation: pete 1s ease-out 0.2s;
    animation-fill-mode: backwards;
}
.twit{
    position: absolute;
    top:137px;
    right:4px
}
.fb{
    position: absolute;
    right: 4.5px;
    top:79px;
}
.insta{
    position: absolute;
    top: 205px;
    right:12.2px;
}
.barUpper{
    background-color: aliceblue;
    height: 93px;
    width: 2.3px;
    position: absolute;
    right: 57px;
    top :179px;
    animation: barlow 1s ease-out;
    border-radius: 100px;
}
.barLower{
    background-color: aliceblue;
    height: 93px;
    width: 2.3px;
    position: absolute;
    right: 57px;
    top :451px;
    animation: barUp 1s ease-out;
    border-radius: 100px;
}
@keyframes barUp{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes barlow{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
